.login {
    background-image: linear-gradient(to left, rgba(6, 2, 2, 0.512), rgb(0, 0, 0)), url('../../assets/images/red-nail-polish-3d-realistic-vector-advertising-banner-with-glass-bottle-glossy_33099-1331.webp');
    background-size: cover;
    background-repeat: no-repeat;
}