.home {
    background-image: linear-gradient(to left, rgba(6, 2, 2, 0.392), rgba(0, 0, 0, 0.963)), url('../../../assets/images/outline-face-with-red-lips-nails_8262-105.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}